website-ai-assistant/Backend/website-ai-chatbot.json
{
  "name": "Website AI Chatbot (FAQ + Escalation)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 1️⃣ Pull rows from Google Sheets and filter out empty ones\nconst rows = items.filter(i => Object.keys(i.json).length > 0);\n\n// 2️⃣ Count the real messages\nconst messageCount = rows.length;\n\n// 3️⃣ Pull the original user message from 'Normalize Input'\nconst original = $node[\"Normalize Input\"].json;\n\n// 4️⃣ Normalize the user message for greeting detection\nconst msg = (original.user_message || \"\")\n    .toLowerCase()\n    .trim()\n    .replace(/[^\\w\\s]/g, \"\")   // remove punctuation (! ? . , etc.)\n    .replace(/\\s+/g, \" \");     // normalize spaces\n\n// 5️⃣ Define greetings\nconst greetings = [\n    \"hi\",\n    \"hello\",\n    \"hey\",\n    \"good morning\",\n    \"good noon\",\n    \"good afternoon\",\n    \"good evening\"\n];\n\n// 6️⃣ Detect if the message is a greeting (e.g., \"hi!\", \"hello bro!\")\nconst greetingDetected = greetings.some(greeting => msg === greeting || msg.startsWith(greeting + \" \"));\n\n// 7️⃣ Return all data\nreturn [\n    {\n        json: {\n            ...original,               // keep original user message and other fields\n            message_count: messageCount,\n            chat_history: rows,        // all previous messages\n            greeting_detected: greetingDetected // true/false\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        -944
      ],
      "id": "08a3bf03-e4ff-4fd0-ab64-78cb1d174edb",
      "name": "Count Messages"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5cbc1b1d-d3a8-488c-98b3-7b8a07023602",
              "leftValue": "={{ $json.message_count}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2976,
        -944
      ],
      "id": "0f91f763-ee65-4252-a677-39b4eebcf754",
      "name": "First Interaction?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lead_Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Users_ID",
              "lookupValue": "={{ $json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3344,
        -1200
      ],
      "id": "9c75e965-2df9-4cca-83bb-85d8a1629ef4",
      "name": "Get Conversation History",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Normalize Input').item.json.session_id }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " session_id": "={{ $('Normalize Input').item.json.session_id }}",
            "user_message": "={{ $('Normalize Input').item.json.user_message }}",
            "timestamp": "={{ $('Normalize Input').item.json.timestamp }}",
            "bot_reply": "={{ $json.reply }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": " session_id",
              "displayName": " session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "bot_reply",
              "displayName": "bot_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5072,
        -416
      ],
      "id": "23082bab-2770-4102-9ba1-ce72bc3b68d1",
      "name": "Save Chat Memory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fbabc2d2-30d3-4309-9b53-c600132cc7b8",
              "leftValue": "={{ $json.greeting_detected }}",
              "rightValue": "hi",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3152,
        -688
      ],
      "id": "2544eeaa-2ce0-4f51-9bd1-f67f158f5b0a",
      "name": "Greeting Detected?"
    },
    {
      "parameters": {
        "jsCode": "// Pull and normalize the user message\nconst msg = ($json.user_message || \"\")\n    .toLowerCase()\n    .trim()\n    .replace(/[^\\w\\s]/g, \"\")  // remove punctuation (! ? . , etc.)\n    .replace(/\\s+/g, \" \");    // normalize spaces\n\n// List of greetings to detect\nconst greetings = [\n    \"hi\",\n    \"hello\",\n    \"hey\",\n    \"good morning\",\n    \"good noon\",\n    \"good afternoon\",\n    \"good evening\"\n];\n\n// Check if message is exactly a greeting or starts with one\nconst isGreeting = greetings.some(greeting => msg === greeting || msg.startsWith(greeting + \" \"));\n\n// Return the flag along with the original JSON\nreturn [\n    {\n        json: {\n            ...$json,\n            greeting_detected: isGreeting // ✅ true or false\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        -688
      ],
      "id": "38ab897f-a0bf-4046-bfb9-e845f918106c",
      "name": "Detect Greeting"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "website-ai-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2384,
        -1200
      ],
      "id": "5c7bd1b1-784b-44a4-8afe-37da496d81aa",
      "name": "Webhook",
      "webhookId": "70808e26-aecb-4b59-be57-af33102ffecc",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= \"Bearer {{$env.OPENROUTER_API_KEY}}\""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
    
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3264,
        144
      ],
      "id": "2402b7fa-032b-4870-b12e-b00cfcd80c12",
      "name": "Generate AI Answer",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const aiReply = $json.choices?.[0]?.message?.content?.trim();\n\nconst fallbackReply = \"Sorry 😅, I’m here to answer questions about Sheikh Mainul Islam’s projects . Let me know if you have anything related.\";\n\nreturn [\n  {\n    json: {\n      ...$node[\"Normalize Input\"].json,\n      reply: aiReply && aiReply !== \"\" ? aiReply : fallbackReply\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        -208
      ],
      "id": "4393fe20-3db3-4cc2-8dea-ed0fb16668c2",
      "name": "Extract AI Reply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13b948e1-6253-4115-900a-7c3241d70fd1",
              "name": "knowledge",
              "value": "=[KNOWLEDGE BASE REDACTED]",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        -464
      ],
      "id": "37ee98dd-c768-4b87-ad97-9ac0b49e981f",
      "name": "AI request node"
    },
    {
      "parameters": {
        "jsCode": "const sessionId = ($json.body.session_id || \"\").trim();\nconst message = ($json.body.user_message || \"\").toLowerCase().trim();\n\nreturn [{\n  json: {\n    session_id: sessionId,\n    user_message: message,\n    lead_name: \"visitor_\" + sessionId,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        -1200
      ],
      "id": "a29fe287-efbc-4690-9e07-3186d7d82eb5",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"reply\": {{ JSON.stringify($json.reply) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4512,
        -592
      ],
      "id": "67288db3-b99f-4f85-85e4-bba566d7185d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "title": "={{$json.session_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3264,
        -960
      ],
      "id": "7aca2f72-16d0-46ee-9a19-92dce62f9e30",
      "name": "Create User Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "467745ae-abfa-487f-8761-c6b5098aaac5",
              "name": " session_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "b72f5012-df63-43fb-871c-8b34fcb92385",
              "name": "user_message",
              "value": "",
              "type": "string"
            },
            {
              "id": "1dddbb64-d7f8-4366-90e0-2c7cb49a981c",
              "name": "bot_reply",
              "value": "",
              "type": "string"
            },
            {
              "id": "93908799-8c01-4d89-8ac1-17c33127d57c",
              "name": "timestamp",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3504,
        -960
      ],
      "id": "c4ecdf26-83df-4498-a3b9-f1b4091c9173",
      "name": "Add Headers",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Lead_Tracking",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Users_ID": "={{ $('Normalize Input').item.json.session_id }}",
            "user_message": "={{ $('Normalize Input').item.json.user_message }}",
            "created_at": "={{ $('Normalize Input').item.json.timestamp }}"
          },
          "matchingColumns": [
            "Users_ID"
          ],
          "schema": [
            {
              "id": "Users_ID",
              "displayName": "Users_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5040,
        -832
      ],
      "id": "3187e129-bc1e-456b-97ad-a5d2fcf27d13",
      "name": "Append or update row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create User Sheet').item.json.title }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "reply"
          ],
          "schema": [
            {
              "id": " session_id",
              "displayName": " session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_message",
              "displayName": "user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bot_reply",
              "displayName": "bot_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3760,
        -960
      ],
      "id": "6d4ce812-fc31-45bb-ae86-bf6efa07727c",
      "name": "Append Headers Row",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull the original user message directly from the 'Normalize Input' node\nconst userMessage = ($('Normalize Input').first().json.user_message || \"\").toLowerCase();\n\nlet reply;\n\nif (userMessage.includes(\"hi\")) {\n    reply = \"Hi! 😊 I’m Sheikh Mainul Islam. How can I help you today?\";\n} else if (userMessage.includes(\"hello\")) {\n    reply = \"Hello! 😊 I’m Sheikh Mainul Islam. How can I help you today?\";\n} else if (userMessage.includes(\"hey\")) {\n    reply = \"Hey! 👋 I’m Sheikh Mainul Islam. How’s your day going?\";\n} else if (\n    userMessage.includes(\"good morning\") ||\n    userMessage.includes(\"good afternoon\") ||\n    userMessage.includes(\"good evening\") ||\n    userMessage.includes(\"good noon\")\n) {\n    const timeOfDayMatch = userMessage.match(/morning|afternoon|evening|noon/);\n    const timeOfDay = timeOfDayMatch ? timeOfDayMatch[0] : \"\";\n    reply = `Good ${timeOfDay}! 😊 I’m Sheikh Mainul Islam. How can I assist you today?`;\n} else {\n    reply = \"Hello! 👋 I’m Sheikh Mainul Islam. How can I help you today?\";\n}\n\n// Return the reply and keep the rest of the JSON intact\nreturn [\n    {\n        json: {\n            ...$json,\n            reply // ✅ IMPORTANT: pass forward\n        },\n    },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4048,
        -960
      ],
      "id": "0b73e0d7-2960-4049-a0d0-3e7ca6b72e11",
      "name": "Bot Welcome Message"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Normalize Input').item.json.session_id }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2544,
        -224
      ],
      "id": "41e3afd4-902d-4304-b2a4-72cf4cbb756f",
      "name": "GET_LAST_10_MESSAGES",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = items;\nconst currentMessage = ($json.user_message || \"\").toLowerCase().trim();\n\nif (!rows || rows.length === 0) {\n  return [{ json: { history: \"\", last_user_message: \"\" } }];\n}\n\n// 👉 Sort by timestamp (VERY IMPORTANT)\nconst sorted = rows.sort((a, b) => {\n  return new Date(a.json.timestamp) - new Date(b.json.timestamp);\n});\n\nlet filtered = [];\n\nfor (const item of sorted) {\n  const msg = (item.json.user_message || \"\").toLowerCase().trim();\n\n  // ❌ Skip current message\n  if (msg === currentMessage) continue;\n\n  // ❌ Skip meta questions\n  if (\n    msg.includes(\"what was my last message\") ||\n    msg.includes(\"previous message\") ||\n    msg.includes(\"what did i say\")\n  ) continue;\n\n  // ❌ Skip greetings\n  if (msg === \"hi\" || msg === \"hello\") continue;\n\n  filtered.push(msg);\n}\n\n// Keep last 10\nconst lastMessages = filtered.slice(-10);\n\n// 👉 Get LAST meaningful message (CRITICAL)\nconst lastMessage = lastMessages.length > 0\n  ? lastMessages[lastMessages.length - 1]\n  : \"\";\n\n// Format history\nconst historyText = lastMessages.map(m => `User: ${m}`).join(\"\\n\");\n\nreturn [\n  {\n    json: {\n      history: historyText,\n      last_user_message: lastMessage\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        -224
      ],
      "id": "65e265a6-756a-4a50-9c86-bb2a88df9d80",
      "name": "FORMAT_MEMORY"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2352,
        144
      ],
      "id": "c56a935c-62fa-42d2-a013-faf2aba8704f",
      "name": "MERGE_MEMORY_WITH_INPUT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1721929b-99c0-42f6-948d-8ed5ebd7eb6a",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "fe089797-5ca3-408a-a27c-d0ced0220fb8",
              "name": "node_name",
              "value": "Generate AI Answer",
              "type": "string"
            },
            {
              "id": "2b324023-da78-4eee-9869-036cd14d725a",
              "name": "error_message",
              "value": "={{ $json.error }}",
              "type": "string"
            },
            {
              "id": "75644045-ee37-449e-8a4f-8ca55d2f98f9",
              "name": "time",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3968,
        384
      ],
      "id": "4af3a34a-5011-45ab-8aa1-a767924ec0cb",
      "name": "SET (FORMAT ERROR DATA)",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}",
          "mode": "list",
          "cachedResultName": "Website AI Chatbot (FAQ + Escalation)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1596562348,
          "mode": "list",
          "cachedResultName": "ERROR_LOG sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/={{ $env[\"MY_PRIVATE_SHEET_ID\"] }}/edit#gid=1596562348"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Workflow": "={{$json.workflow_name}}",
            "Node": "={{$json.node_name}}\n",
            "Error": "= {{$json.error_message}}",
            "Time ": "={{$json.time}}",
            "Users_ID": "={{ $json.session_id }}"
          },
          "matchingColumns": [
            "Users_ID"
          ],
          "schema": [
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Users_ID",
              "displayName": "Users_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4544,
        112
      ],
      "id": "7be54b3e-1974-4822-8004-a2983a95ee51",
      "name": "Error_Track",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "twgL1lr5YQkPh3KY",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sendTo": "={{$env.your-emai}}",
        "subject": "🚨n8n Error Alert",
        "message": "=Workflow: web Chatbot \nNode: {{$json.node_name}} \nError: {{$json.error_message}} \nTime: {{$json.time}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        4528,
        576
      ],
      "id": "170becd6-4db4-407b-97ff-4e8b654638b5",
      "name": "Error_alert",
      "webhookId": "450cfa10-aeca-4f47-a430-1668ef2f5809",
      "credentials": {
        "gmailOAuth2": {
          "id": "Hkuqmb5jAD36yc2T",
          "name": "Gmail account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Count Messages": {
      "main": [
        [
          {
            "node": "First Interaction?",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET_LAST_10_MESSAGES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Interaction?": {
      "main": [
        [
          {
            "node": "Create User Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Greeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Count Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Detected?": {
      "main": [
        [
          {
            "node": "Bot Welcome Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI request node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Greeting": {
      "main": [
        [
          {
            "node": "Greeting Detected?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Answer": {
      "main": [
        [
          {
            "node": "Extract AI Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SET (FORMAT ERROR DATA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI request node": {
      "main": [
        [
          {
            "node": "MERGE_MEMORY_WITH_INPUT",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          },
          {
            "node": "MERGE_MEMORY_WITH_INPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User Sheet": {
      "main": [
        [
          {
            "node": "Add Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Headers": {
      "main": [
        [
          {
            "node": "Append Headers Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Chat Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Headers Row": {
      "main": [
        [
          {
            "node": "Bot Welcome Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Welcome Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET_LAST_10_MESSAGES": {
      "main": [
        [
          {
            "node": "FORMAT_MEMORY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FORMAT_MEMORY": {
      "main": [
        [
          {
            "node": "MERGE_MEMORY_WITH_INPUT",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MERGE_MEMORY_WITH_INPUT": {
      "main": [
        [
          {
            "node": "Generate AI Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET (FORMAT ERROR DATA)": {
      "main": [
        [
          {
            "node": "Error_Track",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error_alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f4ff5662-000a-497f-9b34-48250af299be",
  "meta": {
    "instanceId": "afc19c6207ec98d94c75def806c0f25d5b333a995a0ef3ce3bea03b446c783e2"
  },
  "id": "8_Ra_FeO611mT7MfWQ76R",
  "tags": []
}
